# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional to ignore user-specific settings)
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
build/
**/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android
android/.gradle/
android/key.properties
android/local.properties
*.jks
*.keystore

# iOS
ios/Flutter/
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace
Generated.xcconfig

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web (optional)
web/.dart_tool/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release
